@font-face {
  font-family: 'karla-bold';
  src: url('../../../public/assets/fonts/Karla-Bold.ttf');
}
@font-face {
  font-family: 'karla-regular';
  src: url('../../../public/assets/fonts/Karla-Regular.ttf');
}
@font-face {
  font-family: "../../../public/assets/fonts/fira-medium";
  src: url('../../../public/assets/fonts/FiraCode-Medium.ttf');
}
@font-face {
  font-family: "fira-regular";
  src: url('../../../public/assets/fonts/FiraCode-Regular.ttf');
}
@font-face {
  font-family: "fira-bold";
  src: url('../../../public/assets/fonts/FiraCode-Bold.ttf');
}
