@mixin displayFlex($direction: column, $justify: center, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mainContent($margin: 12rem 0 6rem 0){
  width: 100%;
  max-width: 1408px;
  height: 700px;
  display: flex;
  margin: $margin;
  gap: 8rem;
}
