$background-color: #1C1C1C;
$header-height: 98px;
$hero-height: 900px;
$scrolldown-height: 300px;
$scrolldown-white-height: 580px;
$main-color: #3DCFB6;
$main-color-low-alpha: #3dcfb738;
$white-one: #FFFFFF;
$white-two: #FFFFFFCC;
$main-color-translucent: #3DCFB61A;
$commment-active: #3DCFB64D;
