@use '../styles/variables.scss' as vars;
@use '../styles/mixin.scss' as mx;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;
}

.about_me {
  @include mx.mainContent();
}

.inner_container {
  width: 50%;
}

.bottom {
  align-self: flex-end;
}

.description_wrapper {
  border: 2px solid vars.$main-color;
  border-radius: 2rem;
  background-color: #3DCFB61A;
  padding: 2rem;
  gap: 2rem;
  @include mx.displayFlex(column, space-between, start);
}

.list {
  @include mx.displayFlex(row);
  gap: 1rem;
  margin-left: -1rem;
}

.text_white_two {
  color: vars.$white-two;
}

.image_container {
  position: relative;
  border-radius: 2rem;

  &::before{
    content:"";
    position: absolute;
    z-index: -1;
    transition: all 1s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient(45deg, transparent 0, transparent 28px,rgba(0, 255, 200, 0.6) 2rem,rgba(0, 255, 200, 0.6) 2rem);
    border-radius: 2rem;
  }
}

.image_container:hover {
  &::before {
  transition: all 1s;
    top: 4rem;
    left: -4rem;
    right: 4rem;
    bottom: -4rem;
  }
}

.photo {
  width: 100%;
  border-radius: 2rem;
  display: block;
  transition: all 1s;
  filter: grayscale(100%);

  &:hover {
    transition: all 1s;
    filter: grayscale(0%)
  }
}
