<form class="outer" [formGroup]="userForm" (ngSubmit)="formSubmit()">
  <div class="formular">
    <div class="line"></div>
    <div class="formular_inner">
      <label for="name">{{'contact.formular.nameHeadline' | translate }}?</label>
      <input type="text" name="name" id="name" formControlName="name" [placeholder]="namePlaceHolder">
    </div>
    <div class="line"></div>
    <div class="formular_inner">
      <label for="email">{{'contact.formular.emailHeadline' | translate }}</label>
      <input type="text" name="email" id="email" formControlName="mail">
    </div>
    <div class="line"></div>
    <div class="formular_inner">
      <label for="message">{{'contact.formular.messageHeadline' | translate }}</label>
      <input type="text" name="message" id="message" placeholder="Hello Dominik, I am interested in..." formControlName="message">
    </div>
    <div class="line"></div>
  </div>
  <div class="checkbox_area">
    <label class="container">
      <input type="checkbox" formControlName="policy">
      <span class="checkmark"></span>
      <span class="hovermark"></span>
    </label>
    <p class="privacy_policy">{{'contact.formular.policyOne' | translate }}<a class="inline_link">{{'contact.formular.policyTwo' | translate }}</a> {{'contact.formular.policyThree' | translate }}.</p>
  </div>
  <div class="full_width">
    <app-animated-button type="submit" width="148px" height="48px" buttonText="{{'contact.formular.submit' | translate }} ;)"></app-animated-button>
  </div>
</form>
