
@use '../../../styles/variables.scss' as vars;
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/fonts.scss';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

:host{
  width: 100%;
}

.outer{
  width: 100%;
  @include mx.displayFlex(column, center, flex-start);
  gap: 2rem
}

.formular {
  width: 100%;
  @include mx.displayFlex();
  gap: 2rem;
}

.full_width{
  width: 100%;
  @include mx.displayFlex();
}

.checkbox_area{
  @include mx.displayFlex(row);
  gap: 1rem;
  height: 24px;

  input{
    width: 18px;
    height: 18px;
    border: 1px solid vars.$main-color;
  }
}

.inline_link{
  color: vars.$main-color;

  &:hover{
    text-decoration: underline;
  }
}

.formular_inner {
  width: 90%;
  @include mx.displayFlex(column, center, flex-start);
  gap: 1rem;

  input{
    width: 100%;
    height: 22px;
    background-color: transparent;
    border: none;
    color: vars.$white-one;
    font-family: 'karla-regular';
    font-size: 18px;

    &::placeholder{
      color: vars.$white-one;
    }

    &:focus{
      outline: none;
    }
  }

  label{
    font-family: 'fira-medium';
    font-size: 24px;
    color: vars.$main-color;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: vars.$main-color;
}

.container {
  display: block;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid vars.$main-color;
  border-radius: 1px;
}

.container:hover input ~ .hovermark {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: vars.$main-color-translucent;
}

.container input:checked ~ .checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 25%;
  top: 50%;
  width: 4px;
  height: 8px;
  border: solid vars.$main-color;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-50%, -50%);
}

.privacy_policy{
  color: vars.$white-one;
  font-size: 16px;
  font-family: 'karla-regular';
}
