@use '../../../styles/fonts.scss';
@use '../../../styles/variables.scss' as vars;

:host {
  width: 64px;
}

.wrapper {
  width: 64px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.icon {
  position: absolute;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.text {
  position: absolute;
  top: var(--svg_height);
  font-family: 'fira-regular';
  font-size: 18px;
  text-align: center;
  padding-top: 0.5rem;
}

.tooltip {
  visibility: hidden;
  padding: 1rem 0;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 80%;
  left: -50%;
  width: 250px;
  min-height: 120px;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid vars.$speech-color;
  border-radius: 2rem;
  position: absolute;
  top: calc(100% - 1rem);
  left: 17%;
}

.tooltip_body {
  min-height: 120px;
  padding: 1rem;
  background: vars.$speech-color;
  border-radius: 1rem;
  margin: 0 0 -5px 0;
  color: vars.$main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip_skill_container {
  display: flex;
  gap: 1rem;

  p {
    margin-block: 0;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.mind_set {
  cursor: pointer;

  &:hover {
    .text {
      color: vars.$main-color;
    }

    .tooltip {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}

.logos {
  width: 50px;
  height: 50px;
}

@media (max-width: 760px) {
  .tooltip {
    left: -95px;
  }

  .text{
    font-size: 16px;
  }

  .tooltip::after {
    content: "";
    left: 43%;
  }

  .icon {
    animation: heartbeat 4s linear infinite;
  }
}

@keyframes heartbeat {
  0% { transform: scale(1.1) }
  30% { transform: scale(1.1) }
  40% { transform: scale(1.0) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1.1) }
}
