:host{
  width: 64px;
}

p{
  font-family: 'fira-regular';
  font-size: 18px;
}

.wrapper{
  width: 64px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg{
  width: var(--svg_width);
  height: var(--svg_height);
}
