@use '../../../styles/fonts.scss';
@use '../../../styles/variables.scss' as vars;

:host{
  width: 64px;
}

p{
  font-family: 'fira-regular';
  font-size: 18px;
  text-align: center;
}

.wrapper{
  width: 64px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.icon{
  position: absolute;
  transition: transform 0.3s ease;

  &:hover{
    transform: scale(1.1);
  }
}

.text{
  position: absolute;
  top: var(--svg_height);
  width: 100px;
}

.tooltip{
  visibility: hidden;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 80%;
  left: -50%;
  width: 250px;
  min-height: 120px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after{
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-radius: 2rem;
  position: absolute;
  top: calc(100% - 1rem);
  left: 15%;
}

.tooltip_body{
  min-height: 120px;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  margin: 0 0 -5px 0;
  color: vars.$main-color;
  display: flex;
  flex-direction: column;
}

.tooltip_skill_container{
  display: flex;
  gap: 0.5rem;

  __skill{
    display: flex;
    flex-direction: column;
  }
}

.mind_set{
  cursor: pointer;
  &:hover{
    .text{
      color: vars.$main-color;
    }
    .tooltip{
      visibility: visible;
      opacity: 1;
    }
  }
}
