@use '../styles/mixin.scss' as mx;
@use '../styles/variables.scss' as defaults;
@use '../styles/fonts.scss' as fonts;

.title{
  @include mx.displayFlex();
  position: relative;
  height: calc(900px - defaults.$header-height);
  text-align: center;
}

h2{
  font-family: 'fira-regular';
  font-size: 40px;
  font-weight: 400;
  color: #D9D9D9;
  margin-block: 0;
}

h1{
  font-family: 'karla-bold';
  font-weight: 700;
  font-size: 128px;
  color: #D9D9D9;
  margin-block: 0;
}

.title_buttons{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
