@use '../styles/mixin.scss' as mx;
@use '../styles/variables.scss' as defaults;
@use '../styles/fonts.scss' as fonts;

.title{
  @include mx.displayFlex();
  position: relative;
  height: calc(900px - defaults.$header-height);
  text-align: center;
}

h2{
  font-family: 'fira-regular';
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 400;
  color: #D9D9D9;
  margin-block: 0;
}

h1{
  font-family: 'karla-bold';
  font-weight: 700;
  font-size: clamp(52px, 8vw, 128px);
  color: #D9D9D9;
  margin-block: 0;
}

.title_buttons{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 48px;

  &__mobil{
    display: none;
  }
}

@media (max-width: 440px){
  .title_buttons{
    gap: 1rem;

    &__btn{
      display: none;
    }

    &__mobil{
      display: flex;
    }
  }
}
