@use '../styles/variables.scss' as vars;
@use '../styles/mixin.scss' as mx;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;

  h3{
    margin-block: 0;
  }
}

.skills_maincontainer {
  @include mx.mainContent(3rem 0 3rem 0);
}

.inner_container_small {
  width: 25%;
}

.inner_container{
  width: 75%;
  height: fit-content;
  @include mx.displayFlex(column, flex-start, flex-start);
  column-gap: 20%;
  row-gap: 1rem;
}

.smaller_inner{
  width: 70%;
}

.line{
  border: 2px solid vars.$main-color;
  width: calc(100% - 4px);
}

.projects_button_list{
  width: 100%;
}

.project_button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  height: 8rem;
  padding: 0 2rem;

  &:hover{
    background-color: vars.$main-color-translucent;
  }
}

.used_technologies{
  color: vars.$white-one;
  @include mx.displayFlex(row);
  gap: 0.5rem;

  &__line{
    color: vars.$main-color;
  }
}
