@use '../styles/variables.scss' as vars;
@use '../styles/mixin.scss' as mx;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;

  h3 {
    margin-block: 0;
  }
}

.skills_maincontainer {
  @include mx.mainContent(3rem 0 3rem 0);
  justify-content: center;
}

.inner_container_small {
  width: 25%;
}

.inner_container {
  width: 93%;
  height: fit-content;
  @include mx.displayFlex(column, flex-start, flex-start);
  column-gap: 20%;
  row-gap: 1rem;

  &__short_text {
    max-width: 30%;
    margin-bottom: 1rem;
  }
}

.smaller_inner {
  width: 70%;
  position: relative;
}

.line {
  border: 2px solid vars.$main-color;
  width: calc(100% - 4px);
}

.projects_button_list {
  width: 70%;
}

.project_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  height: 8rem;
  padding: 0 2rem;

  svg {
    opacity: 0;
    color: vars.$white-one;
  }

  &:hover {
    background-color: vars.$main-color-translucent;

    svg {
      opacity: 1;
    }
  }
}

.used_technologies {
  color: vars.$white-one;
  @include mx.displayFlex(row);
  gap: 0.5rem;
  flex-wrap: wrap;

  &__line {
    color: vars.$main-color;
  }
}

.project_image {
  position: relative;
  width: 100%;
  border-radius: 2rem;

  img {
    width: 100%;
    border-radius: 2rem;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 1.5rem;
    left: 1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
    background: repeating-linear-gradient(-45deg, transparent 0, transparent 0.8rem, rgba(0, 255, 200, 0.6) 1rem, rgba(0, 255, 200, 0.6) 1rem);
    border-radius: 2rem;
  }
}

.pos1 {
  position: relative;
  top: 100px;
}

.pos2 {
  position: relative;
  top: 200px;
}

.project_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button_header {
  @include mx.displayFlex(row);
  gap: 1rem;
}

.d_none {
  display: none;
}

@media (max-width: 1000px) {

  .pos1,
  .pos2,
  .pos3 {
    display: none;
  }

  .projects_button_list,
  .project_list {
    width: 100%;
  }

  .project_button {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

  .button_header{
    width: 100%;
    justify-content: flex-start;
  }

  .inner_container_small {
    display: none;
  }

  .inner_container__short_text {
    max-width: unset;
  }

  .used_technologies{
    justify-content: flex-start;
  }
}
