<article id="projects" class="skills_maincontainer">
  <div class="inner_container">
    <h3>Portfolio</h3>
    <h2>Featured Projects</h2>
    <p class="inner_container__short_text">Explore a selection of my work here - Interact with
      projects to see my skills in action.</p>

    <div class="project_list">
      <section class="projects_button_list">
        <div class="line"></div>

        @for (project of allProjects; track project; let id = $index){
        <button class="project_button" (mouseover)="onProjectHover(id)" (mouseout)="onProjectUnhover(id)" (click)="openDetails(id)">
          <div class="button_header">
            <h4>{{project.name}}</h4>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="4" y1="20" x2="20" y2="4" stroke="white" stroke-width="2" stroke-linecap="round" />
              <line x1="8" y1="4" x2="20" y2="4" stroke="white" stroke-width="2" stroke-linecap="round" />
              <line x1="20" y1="4" x2="20" y2="16" stroke="white" stroke-width="2" stroke-linecap="round" />
            </svg>
          </div>
          <div class="used_technologies">
            @for (technologies of project.technology; track technologies){
            <p>{{technologies}}</p>
            <p class="used_technologies__line">|</p>
            }
          </div>
        </button>
        <div class="line"></div>
        }

      </section>
      <div class="inner_container_small">

        @for (project of allProjects; track project; let id = $index){
        <div #project class="project_image pos{{id}} d_none">
          <img src="{{project.imgSrc}}" alt="{{project.altTag}}">
        </div>
        }
      </div>
    </div>
  </div>
</article>
