header{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#00000099, #00000000);
  width: 100%;
  height: 98px;
}

.content{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
