@use '../styles/mixin.scss' as mx;
@use '../styles/variables.scss' as vars;
@use '../styles/fonts.scss';

header {
  @include mx.displayFlex();
  background-image: linear-gradient(#00000099, #00000000);
  width: 100%;
  height: vars.$header-height;
}

.content{
  @include mx.displayFlex(row, space-between);
}

.menu {
  display: flex;
  gap: 1.5rem;
  color:#FFFFFF;
  align-items: center;
  font-family: "fira-regular";
  font-weight: 400;
  font-size: 26px;
}

.language-switch {
  border-radius: 14px;
  border: vars.$main-color solid 1px;
  padding: 0;
  @include mx.displayFlex(row);

  button {
    height: 28px;
    width: 44px;
    border-radius: 14px;
    border: none;
    margin: -1px;
    background-color: transparent;
    color: #3DCFB680;
    font-family: "fira-regular";
  }

  .active {
    background-color: vars.$main-color;
    color: #FFFFFF;
    font-family: "fira-bold";
  }
}

.link{
  @include mx.displayFlex();

  &:hover{
    .circle{
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 0.25rem;
      background-color: vars.$main-color;
      margin-bottom: -8px;
    }
  }
}

.logo_big{
  cursor: pointer;

  &:hover{
    #path3, #path4, #path5, #path6, #path7, #path8, #path9, #path10, #path11, #path12, #path13 {
      stroke: vars.$white-one;
      animation: draw 0.1s linear forwards, fillColor 0.2s linear 0.2s forwards;
    }
    #path14, #path15, #path16, #path17, #path18, #path19, #path20, #path21, #path22, #g23, #path15-8 {
      fill: transparent;
      animation: draw 0.1s linear forwards, fillColorTwo 0.2s linear 0.2s forwards;
    }
  }
}

@keyframes fillColor {
  to {
    fill: transparent;
    stroke: vars.$white-one;
    stroke-width: 4px;
  }
}

@keyframes fillColorTwo {
  to {
    fill: transparent;
    stroke: vars.$white-one;
    stroke-width: 1px;
  }
}
