<article id="projects" class="maincontainer">
  <div class="inner_container">
    <h2>{{'contact.description.headline' | translate}}</h2>
    <h3>{{'contact.description.headlineTwo' | translate}}</h3>
    <h4>{{'contact.description.headlineThree' | translate}}</h4>
    <p>{{'contact.description.encourageOne' | translate}}</p>
    <p>{{'contact.description.encourageTwo' | translate}}</p>
    <p>{{'contact.description.needText' | translate}} <span class="green_text">{{'contact.description.letsTalk' | translate}}!</span></p>
  </div>
  <div class="inner_container">
    <app-forms-controll></app-forms-controll>
  </div>
</article>
