@use '../../../styles/variables.scss' as vars;
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/fonts.scss';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;
  margin-top: 4rem;
}

h2 {
  font-size: 24px;
  font-family: 'karla-regular';
}

h3 {
  margin-block: 0;
  font-size: 64px;
  font-family: 'fira-bold';
}

h4 {
  font-size: 24px;
  font-family: 'fira-bold';
  color: vars.$main-color;
}

p {
  font-family: 'karla-regular';
  font-size: 16px;
  padding-right: 6rem;
}

.maincontainer {
  @include mx.mainContent(3rem 0 3rem 0);
  height: unset;
  gap: 2rem;
  width: 93%;
}

.inner_container {
  width: 50%;
  @include mx.displayFlex(column, flex-start, flex-start);
  gap: 1rem;
}

.green_text {
  color: vars.$main-color;
  font-family: 'karla-bold';
  font-size: 16px;
}

@media (max-width: 1300px){
  h3{
    font-size: 52px;
  }
}

@media (max-width: 1100px){
  .maincontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner_container {
    width: 93%;
  }

  h3 {
    font-size: 48px;
    overflow-wrap: break-word;
    width: 100%;
  }

  p {
    padding-right: 0;
    overflow-wrap: break-word;
    text-align: unset;
  }
}
