@use '../../../styles/variables.scss' as vars;
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/fonts.scss';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;
  height: 700px;
  margin-top: 4rem;
  h3 {
    margin-block: 0;
  }
}

.maincontainer {
  @include mx.mainContent(3rem 0 3rem 0);
  height: unset;
  gap: 2rem;
}

.inner_container {
  width: 50%;
  @include mx.displayFlex(column, flex-start, flex-start);
}

