@use '../styles/variables.scss' as vars;
@use '../styles/mixin.scss' as mx;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;
  position: relative;
}

.skills_maincontainer {
  @include mx.mainContent(6rem 0 3rem 0);
}

.inner_container_small {
  width: 50%;
}

.inner_container{
  width: 54%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20%;
}

.smaller_inner{
  width: 70%;
}

.skill_set_container{
  border: 2px solid vars.$main-color;
  border-radius: 2rem;
  background-color: vars.$main-color-translucent;
  padding: 2rem;
  gap: 2rem;
  @include mx.displayFlex(column, space-between, start);
}

.circle{
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-image: radial-gradient(circle, vars.$main-color-translucent 20%, vars.$background-color 70%);
  left: -15dvw;
  top: 10%;
  z-index: -4;
}
