@use '../styles/variables.scss' as vars;
@use '../styles/mixin.scss' as mx;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  color: vars.$white-one;
  position: relative;
}

.main_container{
  width: 100%;
  @include mx.mainContent();
  margin: 0;
  justify-content: center;
}

.skills_maincontainer {
  @include mx.displayFlex(row, center, flex-start);
  gap: 4rem;
  height: fit-content;
}

.inner_container_small {
  width: 50%;
}

.inner_container{
  width: 54%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20%;
  padding-top: 6rem;
}

.smaller_inner{
  width: 70%;
}

.skill_set_container{
  border: 2px solid vars.$main-color;
  border-radius: 2rem;
  background-color: vars.$main-color-translucent;
  padding: 2rem;
  gap: 2rem;
  @include mx.displayFlex(column, space-between, start);
}

.circle{
  position: absolute;
  overflow: hidden;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-image: radial-gradient(circle, vars.$main-color-translucent 20%, vars.$background-color 70%);
  left: -15dvw;
  top: 10%;
  z-index: -4;
}


@media (max-width: 1500px) {
  .skills_maincontainer {
    width: 93%;
  }
}

@media (max-width: 1100px){
  .skills_maincontainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inner_container{
    width: 85%;
    justify-content: center;
  }
  .inner_container_small{
    width: 100%;
  }
  .circle{
    left: -50%;
    height: clamp(10%, 100dvw, 100%);
  }
}

@media (max-width: 760px){
  .circle{
    display: none;
  }
  p {
    text-align: unset;
    width: 100%;
  }
}
