@font-face {
  font-family: "fira-medium";
  src: url(../../public/assets/fonts/FiraCode-Medium.ttf);
}
@font-face {
  font-family: "fira-regular";
  src: url(../../public/assets/fonts/FiraCode-Regular.ttf);
}
@font-face {
  font-family: "fira-bold";
  src: url(../../public/assets/fonts/FiraCode-Bold.ttf);
}

