@use '../../../styles/fonts.scss';
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/variables.scss' as vars;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$white-one;
  height: 200px;
  margin-top: 4rem;
}

.maincontainer {
  @include mx.mainContent(3rem 0 3rem 0);
  height: 300px;
  gap: 2rem;
  max-width: 1440px;
}

.inner_container {
  width: 50%;
  @include mx.displayFlex(column, center, flex-start);
  gap: 0.25rem;
}

.inner_container_center {
  width: 50%;
  @include mx.displayFlex(column);
  gap: 1rem;
}

.inner_container_right {
  width: 50%;
  @include mx.displayFlex(column, center, flex-end);
  gap: 1rem;
}

.link_area {
  @include mx.displayFlex(column, center, space-between);
  gap: 0.5rem;

  .circle {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.25rem;
    background-color: transparent;
    margin-right: -0.5rem;
  }

  &__btn {
    @include mx.displayFlex(row, flex-start);
    z-index: 6;
    gap: 0.5rem;
    margin-left: 0.5rem;

    button {
      background-color: transparent;
      border: none;
      color: vars.$white-one;

      &:hover {
        color: vars.$main-color;

        .circle {
          background-color: vars.$main-color;
        }
      }
    }

    &:hover {
      .circle {
        background-color: vars.$main-color;
      }
    }
  }
}

.copy_right{
  font-size: 18px;
  font-family: 'fira-regular';
  color: vars.$main-color;
}

.logo_big{
  cursor: pointer;

  &:hover{
    #path3, #path4, #path5, #path6, #path7, #path8, #path9, #path10, #path11, #path12, #path13 {
      stroke: vars.$white-one;
      animation: draw 0.1s linear forwards, fillColor 0.2s linear 0.2s forwards;
    }
    #path14, #path15, #path16, #path17, #path18, #path19, #path20, #path21, #path22, #g23, #path15-8 {
      fill: transparent;
      animation: draw 0.1s linear forwards, fillColorTwo 0.2s linear 0.2s forwards;
    }
  }
}

@keyframes fillColor {
  to {
    fill: transparent;
    stroke: vars.$white-one;
    stroke-width: 4px;
  }
}

@keyframes fillColorTwo {
  to {
    fill: transparent;
    stroke: vars.$white-one;
    stroke-width: 1px;
  }
}
