<footer id="projects" class="maincontainer">
  <div class="inner_container">
    <img src="" alt="">
    <p>{{ 'footer.leftOne' | translate }}</p>
    <p>{{ 'footer.leftTwo' | translate }}</p>
  </div>
  <div class="inner_container_center">
    <p>Dominik Koniorczyk 2026</p>
  </div>
  <div class="inner_container_right">
    <div class="link_area">
      <div class="link_area__btn">
        <div class="circle "></div>
        <button>GitHub</button>
      </div>
      <div class="link_area__btn">
        <div class="circle "></div>
        <button>LinkedIn</button>
      </div>
      <div class="link_area__btn">
        <div class="circle "></div>
        <button>Email</button>
      </div>
      <div class="link_area__btn">
        <div class="circle "></div>
        <button>{{ 'footer.legalNotice' | translate }}</button>
      </div>
    </div>
  </div>
</footer>
