@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/variables.scss' as defaults;
@use '../../../styles/fonts.scss';

.main_button_simple {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
  border: 1px solid defaults.$white-one;
  background-color: transparent;
  border-radius: var(--height);
  font-size: 22px;
  font-family: 'karla-regular';
  color: defaults.$white-one;

  &:hover {
    border: 1px solid defaults.$main-color;
    color: defaults.$main-color;
  }

  &:disabled {
    border: 1px solid gray;

    &:hover {
      border: 1px solid grey;
      color: defaults.$white-one;
    }
  }
}

.scroll_text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 16px;
}

.first-run {
  animation: scroll_first 1s linear forwards;
}

.loop-run {
  animation: scroll_loop 2s linear infinite;
}

@keyframes scroll_first {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll_loop {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.auto_scroll_left {
  animation: left_text_scroll_loop 4s linear infinite;
}

.auto_scroll_right {
  animation: right_text_scroll_loop 4s linear infinite;
}


@keyframes left_text_scroll_loop {
  0% {
    transform: translateX(120%)
  }

  25% {
    transform: translateX(120%)
  }

  75% {
    transform: translateX(-120%)
  }

  100% {
    transform: translateX(-120%)
  }
}

@keyframes right_text_scroll_loop {
  0% {
    transform: translateX(120%)
  }

  50% {
    transform: translateX(-120%)
  }

  100% {
    transform: translateX(-120%)
  }
}
