@use '../../../styles/variables.scss' as vars;
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/fonts.scss';

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

p {
  font-size: 18px;
  font-family: 'karla-regular';
  color: vars.$white-one;
}

h2 {
  margin-block: 0;
}

h3 {
  margin-block-start: 0;
}

.dialog_body {
  max-width: 1248px;
  width: 100dvw;
  max-height: 656px;
  height: 100dvh;
  border: 1px solid vars.$main-color;
  border-radius: 30px;
  background-image: linear-gradient(#1c1c1c, #08463B);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_content {
  width: 85%;
  height: 80%;
  @include mx.displayFlex(row);
  gap: 2rem;
}

.inner_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  &__link_container {
    position: absolute;
    bottom: 0;
    @include mx.displayFlex(row);
    gap: 2rem;
  }

  &__link_btn {
    width: 142px;
    height: 48px;
    border: 1px solid vars.$white-one;
    border-radius: 24px;
    @include mx.displayFlex(row);
    background-color: transparent;
    gap: 0.5rem;
  }

  &__close_btn{
    position: absolute;
    right: 0;
    @include mx.displayFlex();
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;

    svg{
      transition: all 0.3s;
      color: vars.$white-one;
    }

    &:hover{
      svg{
        transform: scale(1.2);
        color: vars.$main-color;
      }
    }
  }

  &__next_btn {
    width: fit-content;
    height: 48px;
    background-color: transparent;
    border: none;
    @include mx.displayFlex(row);
    gap: 1rem;

    &__text {
      color: vars.$main-color;
    }

    svg{
      transition: all 0.2s;
    }

    &:hover {
      p {
        color: vars.$white-one;
      }
      svg{
        transform: scale(1.3);
        transform: translatex(0.5rem);
      }
    }
  }
}

.right {
  position: absolute;
  right: 0;
}
