@use '../../../styles/variables.scss' as vars;
@use '../../../styles/mixin.scss' as mx;
@use '../../../styles/fonts.scss';

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  @include mx.displayFlex();
  z-index: 100;
  overflow: hidden;
}

p {
  font-size: 18px;
  font-family: 'karla-regular';
  color: vars.$white-one;
}

h2 {
  margin-block: 0;
  font-family: 'karla-regular';
  font-size: 128px;
}

h3 {
  margin-block-start: -0.5rem;
  margin-block-end: 1rem;
  font-size: 64px;
  font-family: 'fira-bold';
  color: vars.$white-one;
}

h4{
  margin-block-end: 1rem;
  color: vars.$main-color;
  font-size: 24px;
  font-family: 'fira-bold';
}

.dialog_body {
  max-width: 1248px;
  width: 100dvw;
  max-height: 656px;
  height: 100dvh;
  border: 2px solid vars.$main-color;
  border-radius: 30px;
  @include mx.headerGradient();
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_content {
  width: 88%;
  height: 86%;
  @include mx.displayFlex(row);
  gap: 4rem;
}

.inner_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  &__link_container {
    position: absolute;
    bottom: 0;
    @include mx.displayFlex(row);
    gap: 2rem;
  }

  &__link_btn {
    width: 142px;
    height: 48px;
    border: 1px solid vars.$white-one;
    border-radius: 24px;
    @include mx.displayFlex(row);
    background-color: transparent;
    gap: 0.5rem;
  }

  &__close_btn{
    position: absolute;
    right: 0;
    top: 0;
    @include mx.displayFlex();
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;

    svg{
      transition: all 0.3s;
      color: vars.$white-one;
    }

    &:hover{
      svg{
        transform: scale(1.2);
        color: vars.$main-color;
      }
    }
  }

  &__next_btn {
    width: fit-content;
    height: 48px;
    background-color: transparent;
    border: none;
    @include mx.displayFlex(row);
    gap: 1rem;

    &__text {
      color: vars.$main-color;
    }

    svg{
      transition: all 0.2s;
    }

    &:hover {
      p {
        color: vars.$white-one;
      }
      svg{
        transform: scale(1.3);
        transform: translatex(0.5rem);
      }
    }
  }
}

.project_image{
  width: 520px;
  height: 370px;
  border-radius: 2rem;
}

.right {
  position: absolute;
  right: 0;
}

.center {
  justify-content: center;
}
