@use 'app/styles/variables.scss' as vars;

body {
  margin: 0;
  font-size: 1rem;
  background-color: vars.$background-color;
}

.content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.display_none {
  display: none;
}

h2 {
  font-size: 64px;
  font-family: 'fira-bold';
  color: vars.$main-color;
  margin-block: 0;
}

h3 {
  font-size: 28px;
  font-family: 'karla-regular';
  color: vars.$main-color;
}

h4 {
  font-size: 24px;
  font-family: 'fira-bold';
  color: vars.$white-one;
  margin-block: 0;
}

span {
  color: vars.$main-color;
}

p {
  font-size: 18px;
  font-family: 'karla-regular';
  margin-block: 0;
  hyphens: auto;
  text-align: justify;
  overflow-wrap: break-word;
}

@media (max-width: 760px){
  h2{
    font-size: 38px;
    overflow-wrap: break-word;
    width: 100%;
  }
}
