@use 'app/styles/variables.scss' as vars;

body{
  margin: 0;
  font-size: 1rem;
  background-color: vars.$background-color;
}

.content{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a{
  cursor: pointer;
}

button{
  cursor: pointer;
}

.display_none{
  display: none;
}
