<app-header-comp></app-header-comp>
<section class="body">
  <article class="inner_content">
    <h2>{{ 'privacyPolicy.headline' | translate }}</h2>
    <h4>{{ 'privacyPolicy.headlineTwo' | translate }}</h4>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.headlineThree' | translate }}</h3>
      <p>{{ 'privacyPolicy.general' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.headlineFour' | translate }}</h3>
      <p class="bigger_text">{{ 'privacyPolicy.whoIs' | translate }}</p>
      <p>{{ 'privacyPolicy.whoIsTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.collecting' | translate }}</h3>
      <p>{{ 'privacyPolicy.collectingTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.collectingThree' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.useData' | translate }}</h3>
      <p>{{ 'privacyPolicy.useDataTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.rights' | translate }}</h3>
      <p>{{ 'privacyPolicy.rightsTwo' | translate }}</p>
      <p>{{ 'privacyPolicy.rightsThree' | translate }}</p>
    </div>
    <h4>{{ 'privacyPolicy.headlineFive' | translate }}</h4>
    <div class="content_block">
      <p>{{ 'privacyPolicy.hosting' | translate }}</p>
      <h3>Strato</h3>
      <p>{{ 'privacyPolicy.hostingTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.hostingThree' | translate }} <a href="https://www.strato.de/datenschutz/">https://www.strato.de/datenschutz/</a></p><br>
      <p>{{ 'privacyPolicy.hostingFour' | translate }}</p>
    </div>
    <h4>{{ 'privacyPolicy.headlineSix' | translate }}</h4>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.dataProtection' | translate }}</h3>
      <p>{{ 'privacyPolicy.dataProtectionTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.dataProtectionThree' | translate }}</p><br>
      <p>{{ 'privacyPolicy.dataProtectionFour' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.responsibleInfo' | translate }}</h3>
      <p>{{ 'privacyPolicy.responsibleInfoTwo' | translate }}</p><br>
      <p>Dominik Koniorczyk</p>
      <p>Ahler Kopf 15</p>
      <p>DE-56112 Lahnstein</p>
      <p>Telefon: 017670384799</p>
      <p>E-Mail: <a href="mailto:contact@dominik-koniorczyk.de">contact@dominik-koniorczyk.de</a></p>
      <p>{{ 'privacyPolicy.responsibleInfoThree' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.saving' | translate }}</h3>
      <p>{{ 'privacyPolicy.savingTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.rightsInfo' | translate }}</h3>
      <p>{{ 'privacyPolicy.rightsInfoTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.receiver' | translate }}</h3>
      <p>{{ 'privacyPolicy.receiverTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.revocation' | translate }}</h3>
      <p>{{ 'privacyPolicy.revocationTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.revocationThree' | translate }}</p><br>
      <p>{{ 'privacyPolicy.revocationFour' | translate }}</p><br>
      <p>{{ 'privacyPolicy.revocationSix' | translate }}</p><br>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.complaintRight' | translate }}</h3>
      <p>{{ 'privacyPolicy.complaintRightTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.dataPortability' | translate }}</h3>
      <p>{{ 'privacyPolicy.dataPortabilityTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.authorisation' | translate }}</h3>
      <p>{{ 'privacyPolicy.authorisationTwo' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.restriction' | translate }}</h3>
      <p>{{ 'privacyPolicy.restrictionTwo' | translate }}</p>
      <ul>
        <li>{{ 'privacyPolicy.restrictionThree' | translate }}</li>
        <li>{{ 'privacyPolicy.restrictionFour' | translate }}</li>
        <li>{{ 'privacyPolicy.restrictionFive' | translate }}</li>
        <li>{{ 'privacyPolicy.restrictionSix' | translate }}</li>
      </ul>
      <p>{{ 'privacyPolicy.restrictionSeven' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.ssl' | translate }}</h3>
      <p>{{ 'privacyPolicy.sslTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.sslThree' | translate }}</p>
    </div>
    <h4>{{ 'privacyPolicy.headlineFour' | translate }}</h4>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.dataCollecting' | translate }}</h3>
      <p>{{ 'privacyPolicy.dataCollectingTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.dataCollectingThree' | translate }}</p><br>
      <p>{{ 'privacyPolicy.dataCollectingFour' | translate }}</p>
    </div>
    <div class="content_block">
      <h3>{{ 'privacyPolicy.request' | translate }}</h3>
      <p>{{ 'privacyPolicy.requestTwo' | translate }}</p><br>
      <p>{{ 'privacyPolicy.requestThree' | translate }}</p><br>
      <p>{{ 'privacyPolicy.requestFour' | translate }}</p><br>
      <p>{{ 'privacyPolicy.source' | translate }}</p><br>
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </div>
  </article>
</section>
<app-footer></app-footer>
